<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <app-sing-up-page></app-sing-up-page> -->
<!-- <app-pp-1></app-pp-1> -->
<!-- <app-pp2></app-pp2> -->
<!-- <div class="container">
  <app-todo-form></app-todo-form>
  <app-todo-list></app-todo-list>
</div> -->
<!-- <app-nav-bar></app-nav-bar>
<router-outlet></router-outlet> -->
<!-- <app-api></app-api> -->
<!-- <app-project></app-project> -->
<router-outlet />
<!-- <div class="main">
  <app-aside></app-aside>
</div> -->
<!-- <app-login></app-login> -->
<!-- <div class="container">
  <app-todo-form></app-todo-form>
  <app-todo-list></app-todo-list>
</div> -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
