<div class="main-container">
  <!-- <ul class="container">
    <li>
      <button type="submit" class="btn">
        <a routerLink="/"><button</a>
      </button>
    </li>
    <li>
      <button type="submit" class="btn">
        <a routerLink="/template">Template Form</a>
      </button>
    </li>
  </ul> -->
  <div class="contianer">
    <a routerLink="/">
      <button class="btn">ReactiveForms</button>
    </a>
    <a routerLink="/template">
      <button class="btn">TemplateForms</button>
    </a>
  </div>
  <button class="btn btn-back" (click)="navigate()">
    <a routerLink="/">Back</a>
  </button>
</div>
