<!-- <form action="" #SignUp="ngForm" (ngSubmit)="submit(SignUp)">
  <div class="f-container">
    <label>UserName:</label>
    <input
      required
      minlength="3"
      maxlength="10"
      type="text"
      placeholder="enter your name"
      ngModel
      name="username"
      #username="ngModel"
    />
    <div *ngIf="username.touched && !username.valid" class="err-msg">
      <div *ngIf="username.errors?.['required']">UserName is Required</div>
      <div *ngIf="username.errors?.['minlength']">Name will be min 3</div>
    </div>
  </div>
  <div class="f-container">
    <label>Email:</label>
    <input
      type="email"
      placeholder="enter your email"
      name="email"
      ngModel
      #email="ngModel"
      required
    />
    <div *ngIf="email.touched && !email.valid" class="err-msg">
      <div *ngIf="email.errors?.['required']">Email is Required</div>
    </div>
  </div>
  <div class="c-pass" ngModelGroup #password="ngModelGroup">
    <div class="f-container">
      <label>Password:</label>
      <input
        required
        type="password"
        placeholder="enter your password"
        name="pass"
        ngModel
        minlength="5"
        #pass="ngModel"
      />
    </div>
    <div *ngIf="pass.touched && !pass.valid" class="err-msg">
      <div *ngIf="pass.errors?.['required']">password is Required</div>
      <div *ngIf="pass.errors?.['minlength']">password will be min 5</div>
    </div>
    <div class="f-container">
      <label>Confirm Password:</label>
      <input
        type="password"
        placeholder="enter your Confirm Password"
        name="cpass"
        required
        ngModel
        #cpass="ngModel"
      />
    </div>
    <div *ngIf="cpass.touched && !pass.valid" class="err-msg">
      <div *ngIf="cpass.errors?.['required']">Confirm password is Required</div>
    </div>
  </div>
  <div *ngIf="password.touched && password.valid" class="err-msg">
    <div *ngIf="password.value.pass !== password.value.cpass">
      Confirm Password is not match
    </div>
  </div>
  <div class="f-container">
    <label>MobileNumber:</label>
    <input
      type="tel"
      placeholder="enter your mobile number"
      ngModel
      #mobile="ngModel"
      name="mobile"
      maxlength="10"
      required
    />
  </div>
  <div *ngIf="mobile.touched && !mobile.valid" class="err-msg">
    <div *ngIf="mobile.errors?.['required']">Mobile number is required</div>
  </div>
  <button type="submit" class="btn">submit</button>
</form> -->
<form [formGroup]="login">
  userName:<input
    type="text"
    class="form-control w-50 m-2"
    formControlName="uname"
  />
  <div
    *ngIf="
      login.get('uname').touched && login.get('uname').hasError('required')
    "
    class="err-msg"
  >
    username is required
  </div>
  <div
    class="err-msg"
    *ngIf="
      login.get('uname').touched && login.get('uname').hasError('minlength')
    "
  >
    username is minimum 8 characters
  </div>

  Password:<input
    type="password"
    class="form-control w-50 m-2"
    formControlName="password"
  />
  <button type="submit" (click)="show()" class="btn btn-primary">Submit</button>
</form>
